<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <style>
        img{
            width: 100%;
            height: 100%;
        }
        .encabezado{
            display: flex;
            align-items: center;
            /* justify-content: center; */
            border-bottom: gray solid #00000029;
            /* margin-bottom: 10px; */
            /* background-color: blue; */
            width: 100%;
            height: 10vh;
        }
    </style>
</head>
<body>
    <h1>Prueba </h1>
    {% block content %}
    <head>
        <div class="encabezado">
            <div style="width: 45px; height: 45px; margin: 3px;">
                <img src="./logon.png" alt="logo deportivo">
            </div>
            <h2>Modulo Deportivo - Personal de la Universidad</h2>
        </div>
    </head>

    
    {% endblock %}
</body>
</html>