<form action="/edit/{{contact.0}}" method="POST">
    <label for="">Id personal</label>
    <input type="text" name="idPersonal" value="{{ contact.0 }}">
    <label for="">Nomre</label>
    <input type="text" name="nombre" value="{{ contact.3 }}">
    <label for="">Apellido</label>
    <input type="text" name="apellido" value="{{ contact.4 }}">
    <label for="">Tipo personal</label>
    <select name="tPersonal" id="">
        {% for rol in infoRols %}
            {% if infoSelec[0][0]==rol.0  %}
                <option value="{{rol.0}}" selected>{{rol.1}}</option>
            {% else %}
                <option value="{{rol.0}}" >{{rol.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <label for="">Sede</label>
    <select name="tsede" id="">
        {% for sede in infoSedes %}
            {% if infoSelec[1][0]==sede.0  %}
                <option value="{{sede.0}}" selected>{{sede.1}}</option>
            {% else %}
                <option value="{{sede.0}}">{{sede.1}}</option>
            {% endif %}
        {% endfor %}
    </select>
    <button type="submit">Editar</button>
</form>