<form action="/addPersonal" method="POST">
    <label for="">Id personal</label>
    <input type="text" name="idPersonal">
    <label for="">Nomre</label>
    <input type="text" name="nombre">
    <label for="">Apellido</label>
    <input type="text" name="apellido">
    <label for="">Tipo personal</label>
    <select name="tPersonal" id="" required>   
        {% for rol in infoRols %}
            <option value="{{rol.0}}">{{rol.1}}</option>
        {% endfor %}
    </select>
    <label for="">Sede</label>
    <select name="tsede" id="" required>
        {% for sede in infoSedes %}
            <option value="{{sede.0}}">{{sede.1}}</option>
        {% endfor %}
    </select>
    <button type="submit">Agregar</button>
</form>