<form action="/addPersonal" method="POST">
    <label for="">Id personal</label>
    <input type="text" name="idPersonal">
    <label for="">Nomre</label>
    <input type="text" name="nombre">
    <label for="">Apellido</label>
    <input type="text" name="apellido">
    <label for="">Tipo personal</label>
    <input type="text" name="tipoPersonal">
    <!-- <select name="tipoPersonal" id="">
        <option value="1">1</option>
        <option value="2">2</option>
    </select> -->
    
    <label for="">Sede</label>
    <input type="text" name="sede">
    <!-- <select name="sede" id="">
        <option value="s1">s1</option>
        <option value="s2">s2</option>
    </select> -->
    
    <button type="submit">Agregar</button>
</form>